runtime/core/test/clone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
xmlns:tns="http://www.example.org/test"
targetNamespace="http://www.example.org/test">

<complexType name="CloneType" mixed="true">
    <sequence>
        <element name="test"  type="string"/>
        <any namespace="##any"/>
    </sequence>
</complexType>

<element name="Clone" type="tns:CloneType"/>

</schema>
